from flama import Flama
from flama.models import Decoder

app = Flama(
    debug={{ debug }},
    openapi={
        "info": {
            "title": "{{ title }}",
            "version": "{{ version }}",
            "description": "{{ description }}",
        }
    },
    schema="{{ schema }}",
    docs="{{ docs }}"
)

models = {{ models }}
for model in models:
    app.models.add_model(
        path=model["url"],
        model=model["path"],
        name=model["name"],
        decoder=Decoder(
            channel_scanner=model["channel_scanner"],
            tool_scanner=model["tool_scanner"],
            tool_parser=model["tool_parser"],
        ),
        params=model["params"],
        serving=tuple(model["serving"]) if model["serving"] is not None else None,
    )
