code[class*='language-'],
pre[class*='language-'] {
  color: theme('colors.primary.200');
  background-color: inherit;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.token-line-selected {
  background-color: theme('colors.flama.700');
}

.token {
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #999;
  }

  &.punctuation {
    color: #ccc;
  }

  &.tag,
  &.attr-name,
  &.namespace,
  &.deleted {
    color: #e2777a;
  }

  &.function-name {
    color: #6196cc;
  }

  &.boolean,
  &.number,
  &.function {
    color: #f08d49;
  }

  &.property,
  &.class-name,
  &.constant,
  &.symbol {
    color: #f8c555;
  }

  &.selector,
  &.important,
  &.atrule,
  &.keyword,
  &.builtin {
    color: #cc99cd;
  }

  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable {
    color: #7ec699;
  }

  &.operator,
  &.entity,
  &.url {
    color: #67cdcc;
  }

  &.inserted {
    color: green;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}
